.moct
Books
Homework 1
Homework 2
Homework 3
Homework 4
Homework 5
Mid-term
Recitations
M0-1.pdf
M1-1.pdf
M1-2.pdf
M1-3.pdf
M1-4.pdf
M1-5.pdf
M2-1.pdf
GMT20211028-141039_Recording_1280x720.mp4
GMT20211104-141102_Recording_1280x720.mp4
M2-2.pdf
M2-3.pdf
SVD.pdf
Nonlinear Systems and Lyapunov Stability.pdf
PoleZero.pdf

#Project 1
Project 1/Bicycle Model.pptx
Project 1/Evaluation.png
Project 1/New Microsoft PowerPoint Presentation.pptx
Project 1/Plots.png
Project 1/Project 1 - Controller.pdf
Project 1/Project 1 - Linearization.pdf
Project 1/Project 1 - Plots.pdf
Project 1/Project 1 - Writeup.pdf
Project 1/project_1_workspace.code-workspace

#Project 2
Project 2/.ipynb_checkpoints/Q1-checkpoint.ipynb
Project 2/controllers/main/__pycache__/base_controller.cpython-38.pyc
Project 2/controllers/main/__pycache__/evaluation.cpython-38.pyc
Project 2/controllers/main/__pycache__/util.cpython-38.pyc
Project 2/controllers/main/__pycache__/your_controller.cpython-38.pyc
Project 2/chinmayg-p2-code.zip
Project 2/Report.pptx
Project 2/your_controller.py
Project 2/controllers/main/__pycache__/base_controller.cpython-38.pyc
Project 2/controllers/main/__pycache__/evaluation.cpython-38.pyc
Project 2/controllers/main/__pycache__/util.cpython-38.pyc
